.modal__body--wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__body--item {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.modal__image {
  width: 100%;
}

.modal__body--item p {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
}
.modal__body--item p span:first-child {
  font-weight: 700;
}
