@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-color: #2d7864;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  background: rgba(233, 233, 233, 0.91);
  box-shadow: 0 8px 32px 0 rgba(86, 86, 90, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form-title {
  text-align: center;
  color: #ff9700;
  text-shadow: 3px 2px 3px #676767;

  font-size: 2.5rem;
  font-weight: 600;
}
.formbold-form-img {
  margin-bottom: 45px;
}

.formbold-input-group {
  margin-bottom: 18px;
}

.formbold-form-select {
  width: 100%;
  padding: 12px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-input-radio-wrapper {
  margin-bottom: 25px;
}
.formbold-radio-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formbold-radio-label {
  font-size: 14px;
  line-height: 24px;
  color: #07074d;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formbold-input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.formbold-radio-checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #dde3ec;
  border-radius: 50%;
}
.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark {
  background-color: #2d7864;
}
.formbold-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark:after {
  display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder {
  color: #536387;
}
.formbold-form-input:focus {
  border-color: #ff9700;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074d;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  /* font-weight:; */
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #ff9700;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.file__img {
  width: 100%;
}
