.table-home {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.table-sample {
  max-width: 80%;
}
.card {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  margin-bottom: 20px;
}
.card-item {
  max-width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #6f6d6d;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-img {
  object-fit: cover;
  border: none;
  padding: 5px;
}

.card-discription {
  margin-left: 20px;
}
