* {
  color: #2b2c30 !important;
  box-sizing: border-box;
}

.header {
  background-color: black;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;
}
.nav .header-logo {
  color: white;
  font-size: 2rem;
}

.header-logo {
  color: white !important;
  font-size: 2rem;
}

.btn-logout {
  color: white !important;
}

.btn {
  color: white !important;
}
.add-sample {
  color: white !important;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 10%;
  top: 0;
  margin-bottom: 2%;
}

.nav .btn-logout {
  font-size: 0.8rem;
  height: 30px;
  padding: 0rem 0.5rem;
}
a {
  margin: 0;
}
.home {
  height: 100%;
  padding-bottom: 50px;
  background-color: rgb(224, 224, 224);
}

.container {
  padding-top: 20px;
  border-radius: 10px;
  width: 75%;
  border: 1px solid rgb(215, 215, 215);
  background-color: rgb(240, 240, 240);
}

.card-discription {
  position: relative;
}
.btn-container {
  white-space: nowrap;
  position: absolute;
  bottom: -60px;
}
.btn-discription:hover {
  background-color: rgb(211, 135, 110) !important;
}
.card-main {
  margin-bottom: 70px;
  position: relative;
}
.card-text {
  padding: 20px 10px;
  background-color: #eee;
  padding-left: 10px;
  max-width: 790px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
/* .btn-discription,
.btn-edit,
.btn-trash {
  height: 48px !important;
  width: 140px !important;
  border-radius: 10px !important;
  border: 1px solid #ccc !important;
  display: inline-block !important;
  width: 140px !important;
} */

.btn-discription,
.btn-edit,
.btn-trash {
  height: 48px !important;
  width: 140px !important;
  border-radius: 10px !important;
  border: 1px solid #ccc !important;
  font-size: 16px !important;
  display: inline-block !important;
  text-align: center !important;
  cursor: pointer !important;
  margin-right: 10px !important;
}

.btn-discription:hover,
.btn-edit:hover,
.btn-trash:hover {
  background-color: #eee !important;
  transition: background-color 0.3s ease;
}

.btn-edit {
  text-decoration: none !important;
  line-height: 48px !important;
}

.btn-discription {
  color: #ffffff !important;
  background-color: #006eff;
}
.btn-edit {
  color: rgb(255, 255, 255) !important;
  background-color: #28db55;
}

.btn-trash {
  color: rgb(255, 255, 255) !important;
  background-color: #ffaaaa;
}
