* {
  color: #2b2c30 !important;
}

.header {
  background-color: black;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15%;
}
.nav .header-logo {
  color: white;
  font-size: 2rem;
}
.add-sample {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 10%;
  top: 0;
  margin-bottom: 2%;
}

.nav .btn-logout {
  font-size: 0.8rem;
  height: 30px;
  padding: 0rem 0.5rem;
}
a {
  margin: 0;
}
.home {
  height: 100vh;
  background-color: rgb(224, 224, 224);
}

.container {
  border-radius: 10px;
  width: 75%;
  border: 1px solid rgb(215, 215, 215);
  background-color: rgb(240, 240, 240);
}
